/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

.radio-groups {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-group {
    margin-right: 2rem;
}

.radio-group-container {
    padding: 0.5rem;
    border: 1px solid gainsboro;
}
