.card-wrapper {
    max-width: 320px;
    min-width: 220px;
}

igc-card {
    background-color: #011627;
}

igc-card-content,
igc-card-header > *[slot="title"]{
    color: #FEFEFE;
}

igc-card-header > *[slot="subtitle"] {
    color: #ECAA53;
    opacity: 0.9;
}

igc-icon-button+igc-icon-button {
    margin-left: 10px;
}

.center {
    align-items: center;
}