@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* .sampleContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 300px;
} */

.flex {
    flex: 1;
}

.options {
    /* background: red; */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 10pt;
    font-weight: 300;
    font-family: aktiv-grotesk,sans-serif;
    color: #585858;
    white-space: nowrap;
}

.optionItem {
    margin-left: 10px;
    display: inline-block;
    vertical-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.optionText {
    margin-left: 10px;
    width: 150px;
    display: inline-block;
    vertical-align: center;
}

.toolArea {
  height: 120px;
}

.toolAreaRow1 {
  height: 55px;
  line-height: 45px;
}

.toolAreaRow2 {
  line-height: 55px;
}

.frequencySlider {
  display: inline-block;
  width: 120px;
  padding-right: 20px;
}

.volumeSlider {
  display: inline-block;
  width: 120px;
  padding-right: 20px;
}

.slider {
  padding: 12px 0px;
}

.hiddenIcon {
  font-family: Material Icons;
  font-size: 20px;
  font-feature-settings: "liga";
  padding-right: 5px;

  display: inline-block;
  vertical-align: bottom;
}

.chartDialog div {
  overflow: visible !important;
  padding: 0px;
  max-width: 100%;
}

.searchField {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 175px;
  vertical-align: bottom;
}

.hiddenDrop {
  vertical-align: bottom;
  width: 190px;
  margin-bottom: 6px;
  margin-right: 10px;
  margin-left: 10px;
}