/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

.upFont {
    color: green !important;
}

.downFont {
    color: red !important;
}

.topSpeed {
    color: royalblue !important;
}

