/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

#treeGrid {
	--pinned-border-width: 5px;
    --pinned-border-style: double;
    --pinned-border-color: #FFCD0F;
	--cell-active-border-color: #FFCD0F;
}

