# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.css text eol=crlf
*.json text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.js text eol=crlf
*.cs text eol=crlf
*.razor text eol=crlf