igc-ripple {
    --color: gray;
}

.button-group-buttons-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 36px;
}

.button-group-buttons-amount-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 0 0 auto;
}

.button-group-buttons-amount-item igc-button-group {
    width: max-content;
}

.button-group-buttons-amount-item igc-toggle-button {
    min-width: 88px;
}

.button-group-buttons-amount-item span {
    color: var(--ig-gray-700);
    font-size: 12px;
    line-height: 16px;
}