/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-rating {
    --symbol-size: 44px;
    --symbol-full-color: hsla(var(--ig-warn-A400), var(--ig-warn-a));
    --symbol-empty-color: hsla(var(--ig-warn-A400), var(--ig-warn-a));
}

igc-rating[disabled] {
    --symbol-full-color: hsla(var(--ig-gray-400), var(--ig-gray-a));
    --symbol-empty-color: hsla(var(--ig-gray-400), var(--ig-gray-a));
}

igc-rating::part(label) {
    font-size: 18px;
    font-weight: 600;
    text-transform: var(--ig-overline-text-transform);
    color: hsla(var(--ig-gray-600), var(--ig-gray-a));
}

igc-rating::part(symbols) {
    gap: 8px; 
}

.size-large {
    --ig-size: var(--ig-size-large);
}
