/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

#grid {
    --cell-selected-text-color: #FFFFFF;
    --cell-active-border-color: #0578c4;
    --cell-selected-background: #0578c4;
}

