/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

    #grid {
        --ig-size: var(--ig-size-medium);
    }

    #grid {
        --ig-grid-edit-mode-color: #FFA500;
        --ig-grid-cell-active-border-color: #AAFF00;
        --ig-grid-cell-editing-background: #ADD8E6;
    }

