.grid-lite-wrapper {
    width: 100%;
    height: 100%;
}

.controls-wrapper {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.config-panel {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}

igc-grid-lite {
    height: 510px;
}