/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.wrapper {
  justify-content: space-evenly;
  margin: 1rem;
  align-items: center;
}

.drop-area {
  width: 240px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: #dcdcdc;
  color: #111;
  text-align: center;
}
