.sbSwitch {
    display: grid;
    place-items: center;
    height: 100vh;
}

.sample-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.75rem;
}

igc-button-group {
    max-width: 400px;
    min-width: 280px;
}

igc-button-group {
  display: inline-block;
  max-width: 400px;
}

igc-ripple {
  --color: grey;
}
