/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

.allergensFont {
    color: royalblue !important;
}

.upPrice {
    color: red !important;
}

.downPrice {
    color: green !important;
}

