/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.customIcon {
    display: flex;
    width: 100%;
    justify-content: center;
}

.customIconSpan {
    cursor: pointer;
}

