@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

.sample {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-family: "Aktiv Grotesk", sans-serif;
}
