/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-switch {
  margin-left: 0.5rem;
}

igc-stepper {
  background: var(--ig-gray-100);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--ig-gray-400);
  margin-block-start: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .switch-wrapper {
    border: 1px solid var(--ig-gray-400);
    border-radius: 6px;
    background: var(--ig-gray-100);
    padding: 8px;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 195px;
    justify-content: center;
  }

  igc-switch::part(label) {
    font-size: 22px;
  }
}

igc-switch {
  --border-radius-track: 0px;
  --thumb-size: 1rem;
  --border-radius-thumb: 2px;
  --size: 2.5rem;
  --thumb-off-color: var(--ig-primary-500);
  --thumb-on-color: var(--ig-primary-500);
  --track-on-color: white;
  --track-on-hover-color: white;
  --thumb-off-hover-color: var(--ig-primary-500);
  --border-on-color: var(--ig-gray-400);
  --border-on-hover-color: var(--ig-gray-500);

  &::part(control) {
    height: 1.5rem;
    border-radius: 4px;
  }
}

igc-step::part(content) {
  @media (width < 756px) {
    overflow: scroll;
  }
}

h5 {
  margin-block: 5px;
}

li {
  font-size: 16px;
  padding-block: 8px;
}

.container {
  padding: 1rem;
}