/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

    #hGrid {
        --ig-size: var(--ig-size-medium);
    }

    #hGrid {
        --ig-grid-cell-selected-text-color: #FFFFFF;
        --ig-grid-cell-active-border-color: #f2c43c;
        --ig-grid-cell-selected-background: #0062a3;
    }

