/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.sample {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.team-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 24.3125rem;
    height: 22.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--ig-surface-500);
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 12%);
}

.team-title {
    margin: 0 0 0.5rem;
    color: var(--ig-gray-600);
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.select-all::part(base),
.member::part(base) {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.select-all::part(label) {
    color: var(--ig-primary-500);
    font-size: 1rem;
}

.member::part(label) {
    width: 100%;
    color: var(--ig-gray-900);
}

.member-selected::part(base) {
    background: var(--ig-primary-50);
}

.select-all::part(indicator),
.member::part(indicator) {
    --tick-color: var(--ig-primary-500-contrast);
}

.select-all::part(control checked)::after,
.member::part(control checked)::after {
    --fill-color: var(--ig-primary-500);
}

.member-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.member-info igc-avatar {
    --ig-size: var(--ig-size-small);
}

.member-text {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.member-name {
    font-size: 0.875rem;
    font-weight: 600;
}

.member-email {
    color: var(--ig-gray-600);
    font-size: 0.75rem;
}

.continue-button {
    margin-top: 1rem;
    align-self: flex-end;
}