/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

#tooltip-position {
  margin: 40px 0 0 120px;
  width: 400px;
  height: 120px;
}

igc-button::part(base) {
  height: 100%;
  border-radius: 0.5rem;
}