/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

    #grid {
        --ig-size: var(--ig-size-medium);
    }

    #grid igc-paginator {
        --ig-paginator-border-width: 5px;
        --ig-paginator-background-color: #231c2c;
        --ig-paginator-text-color: #d0ab23;
        --ig-paginator-focused-text-color: #d0ab23;
        --ig-paginator-border-color: #d0ab23;
        --ig-grid-paginator-active-border-color: #d0ab23;
        --ig-icon-color: #d0ab23;
        --ig-input-group-filled-text-color: #d0ab23;
        --ig-input-group-focused-text-color: #d0ab23;
    }

