/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

#grid {
    --ig-grid-ghost-header-text-color: #f4d45c;
    --ig-grid-ghost-header-background: #ad9d9d;
    --ig-grid-ghost-header-icon-color: #f4d45c;
}

