/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-dropdown::part(list) {
    height: 220px;
}

igc-dropdown-item[selected] {
    background: #28a745;
}

igc-dropdown-group::part(label) {
    display: flex;
    justify-content: center;
}