#panel {
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.config-key {
    flex: 2 1 25% !important;
    font-weight: bold;
}

.config {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.75rem;
}

.config * {
    flex: 1;
}

igc-dropdown-item {
    padding: 0.5rem 1rem;
}

.grid-lite-wrapper {
    width: 100%;
    height: 100%;
}

igc-grid-lite {
    min-height: 65vh;
    --ig-size: 2;
}