/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.radio-groups {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-group {
    margin-right: 2rem;
}

.radio-group-container {
    padding: 0.5rem;
    border: 1px solid gainsboro;
}

igc-switch {
    margin: 0.5rem;
}

igc-button {
    margin: 1rem 0.5rem 0 0;
}
