/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

#hierarchicalGrid {
    --ig-grid-sorted-header-icon-color: #ffb06a;
    --ig-grid-sortable-header-icon-hover-color: black;
}

