.fallback {
    height: 100%;
    width: 100%;
    padding: 10px 0px 0px 10px;
    padding: 10px 0px 0px 20px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.fallback ul {
    white-space: nowrap;
}

.fallback a {
    text-decoration: none;
}
