igc-circular-progress {
    --diameter: 100px;
    --stroke-thickness: 5px;
    margin: 20px;
}

gc-circular-progress::part(gradient_end),
igc-circular-progress::part(gradient_start){
    stop-color: #72da67;
}

igc-circular-progress::part(track){
    stroke: rgb(216, 211, 211);
}