/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-highlight {
  --background: var(--ig-gray-700);
  --foreground: var(--ig-gray-700-contrast);
  --background-active: var(--ig-warn-500);
  --foreground-active: var(--ig-warn-500-contrast);
}

igc-divider {
  margin-block-start: 20px;
}