body {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.sideMenu { 
    /* width: 5rem; */
    /* padding: 1rem; */
    color: black; 
    background: white;
    margin: 0rem;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    opacity: 100%; 
}

.statePickerContainer { 
    
    padding: 0.25rem;
    padding-right: 0.5rem;
    margin: 0rem;

    font-size: 0.75rem;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    align-self: stretch;
    
    overflow-y: scroll;
} 
 
.statePickerItem { 
    border-radius: 0.5rem;
    background: #232323; 
    background: #d6d6d6; 
    text-align: center; 
    margin: .1rem;
    margin-top: .2rem;
    margin-left: .2rem;
    padding: .15rem;
    padding-left: .3rem;
    padding-right: .3rem; 
    opacity: 85%; 
    position: relative;
}

.statePickerItem:hover {
    opacity: 100%; 
}

.statePickerPartyInfo { 
    padding: 0.25rem; 
    margin-right: 0.5rem; 
    align-items: center;
    justify-content: center; 
    opacity: 100%; 
}

.statePickerPartyCircle { 
    border-radius: 50%;
    padding: 0.25rem; 
    margin-left: 0.25rem; 
    align-items: center;
    align-self: center;
    justify-content: center; 
    opacity: 85%; 
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
}

.statePickerPartyCircle:hover {
    opacity: 100%; 
  }

.statePickerPartyImage { 
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background: white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 2rem;
    height: 2rem;
}


.statePickerInfo { 
    width: calc(100% - 6rem);
    padding: 0.15rem;
    padding-left: 0.25rem;
    vertical-align: middle;
    align-self: center;
    align-items: start;
}
.candidateInfo { 
    /* width: 5rem; */
    font-size: 2rem;
    text-align: center;
    z-index: 10;
    align-items: center;
}

.candidateElector { 
    font-size: 2.55rem;
}

/* .candidateName { 
    font-size: 1rem; 
    line-height: 1;
} */

.electionTargetValue  {
    color: #333333;
    text-align: center;
    font: normal normal 600 17px / 26px Titillium Web;
    font-size: 1rem;
    letter-spacing: 0px;
    border-bottom-color: black;
    border-bottom-width: thin;
    border-bottom-style: solid;
    margin-bottom: 0rem;
    /* height: 1.4rem; */
    line-height: 1;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    align-self: center;
}

.electionWhiteHouse  {
    color: #333333; 
    height: 2rem;
    align-self: center;
}

.electionTarget  { 
    align-self: center;
}

.electionTargetArrow  {
    color: #333333;
    width: 1rem;
    height: 1rem;
    align-self: center;
}

.electionCandidateImage { 
    width: 5rem; 
    opacity: 100%; 
}
.electionCandidateImage > img  {  
    width: 3rem;
    height: 3rem;
}

.electionResult { 
    /* height: 3.5rem;  */
    height: auto; 
    background: white; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.igCandidate-bar {
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: flex-end;
    align-items: center;
    width: calc(100% - 5rem);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.igCandidate-value {
    /* height: 4rem; */
    font-size: 2.55rem;
    font-weight: 600;
    letter-spacing: 0px;
    align-self: end;
    line-height: 1;
    /* padding-left: 1rem; */
}

.igCandidate-name {
    /* height: 100%; */
    display: flex;
    flex-flow: column; 
    align-self: end;
    line-height: 1;
    font-size: 1rem;
}

.igCandidate-target {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.igCandidate-winner {
    /* position: fixed; */
    z-index: 10;
    height: 2rem;
    width: 2rem;
    align-self: end;
}

.stateLabel { 
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    /* border-radius: 0.5rem; */
    background: rgb(45, 45, 45);
    color: white;
    padding: 0.1rem;
    font-size: 0.5rem;
    position: relative;
    top: 0;
    right: 0;
    width: 4rem;
    height: auto;
    position: absolute;
}

.electionGauge { 
    /* margin-left: -1rem; */
    /* margin-right: -1rem; */
    /* width: calc(100% - 20rem) */
    width: 100%;
    width: calc(100% - 4rem);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.election270 { 
    font-size: 2rem;
    z-index: 10;
}


.mapBackground {
    background-color: #fd0a0a;
    background-color: #0392f8;
    background-color: #636262;
    position: fixed;
    /* Add the blur effect */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/star.svg);
    background-repeat: repeat; 
    
  background-size: 3rem;
    display: grid;
    height: 100dvh;
    width: 100%;
    align-items: center;
    color: black;
    fill: #232323;
}

.mapSource {
    height: 2rem; width: 100%; cursor: pointer;
}

.mapHint {
    /* position: fixed; */
    z-index: 10;
    right: 1rem;
    bottom: 1rem; 
    color: #636262; 
    align-items: center;
    align-self: start;
    width: 100%;
    padding: 0rem;
    margin-bottom: -0.5rem;
}

.mapHintIcon {
    z-index: 10;
    right: 2rem;
    bottom: 2rem;
    align-items: center;
    align-self: end;
    height: 2rem;
    width: 2rem; 
}

.animateFade {
    /* animation: fadeIn 2s infinite; */
    animation: fadeIn 2s ease-out;
    animation-iteration-count: infinite; 
}

@keyframes fadeIn {
    50% {opacity: 0.4;}
  } 

.appTitle {  
    font-size: 1.25rem;
    margin-top: -0.25rem;
    align-self: center; 
}

.appBackgroundTitle { 
    width: 100%; 
    /* align-content: flex-start; */
    /* align-items: start; */
    flex-wrap: nowrap;
    flex-direction: row; 
    white-space: nowrap;
    align-self: center;
    display: flex;
    justify-content: center;
}

.appBackgroundIcon {
    width: 3.0rem;
    height: 3.0rem;
    margin: 0.05rem;
}


/* scrollbar styles */
::-webkit-scrollbar
{
    width: 0.625rem;
    height: 0.625rem;
    background: #c0c0c0;
    margin-top: 0.25rem;
}
::-webkit-scrollbar-track
{
    border-radius: 1px;
    background: transparent;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}
::-webkit-scrollbar-thumb
{
    width: 0.5rem;
    border-radius: 0.5rem;
    background: #7c7c7c;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
}
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

::-webkit-scrollbar-corner {
    background: transparent;
}