/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

.size-small {
    margin: 10px;
    --ig-size: var(--ig-size-small);
}

.size-medium {
    margin: 10px;
    --ig-size: var(--ig-size-medium);
}

.size-large {
    margin: 10px;
    --ig-size: var(--ig-size-large);
}