/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

#hierarchicalGrid {
    --ig-banner-banner-background: #e3e3e3;
    --ig-banner-banner-message-color: #423589;
}

