/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-dropdown::part(list) {
  height: 200px;
}

.center {
  align-items: center;
  justify-content: center;
}
