/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */

    #treeGrid {
        --ig-grid-pinned-border-width: 5px;
        --ig-grid-pinned-border-style: double;
        --ig-grid-pinned-border-color: #FFCD0F;
        --ig-grid-cell-active-border-color: #FFCD0F;
    }

