igc-button.confirm-button::part(base) {
  background-color: #1275c4;
  color: #ffffff;
}

igc-button.send-button::part(base) {
  border-color: #8a2be2;
  color: #8a2be2;
}

igc-button.send-button igc-icon {
  color: #8a2be2;
}

igc-button.cancel-button::part(base) {
  color: #1275c4;
}

igc-button.add-button::part(base) {
  background-color: #4caf50;
  color: #000000;
  border-radius: 999px;
}

igc-button.add-button igc-icon {
  color: #000000;
}
