/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples */
:root {
    --igc-primary-h: 60deg;
    --igc-primary-s: 100%;
    --igc-primary-l: 25%;
}

igc-radio::part(control) {
    --size: 18px;
}
