/* shared styles are loaded from: */
/* https://static.infragistics.com/xplatform/css/samples */

.container {
    display: flex;
}

.sample {
    padding-left: 1.5rem;
}

igc-tooltip::part(right) {
    display: none;
}

igc-tooltip::part(base) {
    color: var(--ig-primary-300-contrast);
    background-color: var(--ig-surface-50);
    border: 1px var(--ig-gray-300);
    box-shadow: var(--ig-elevation-1);
    max-width: unset;
}

.trigger {
    border: 1px solid var(--ig-gray-300);
    width: 280px;
    height: max-content;
    margin-top: 1.5rem;

    igc-list-item {
        padding: 8px 16px;
    }

    h2 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        font-weight: 400;
        color: var(--ig-gray-900);
    }

    span {
        display: block;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: var(--ig-gray-600);
        text-decoration: underline;
    }

    .headingWrapper {

        display: flex;

        igc-icon {
            --size: 20px
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin: unset;
            padding-left: 7px;
        }
    }

    .secondary {
        color: var(--ig-success-500);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }


    igc-avatar {
        --size: 40px
    }


    .textWrapper {

        p {
            margin: unset;
            line-height: 24px;
            letter-spacing: 0.15px;
        }
    }

    .clickArea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .helper {
        margin: 5px 0 0 5px;
        font-size: 12px;
        color: var(--ig-gray-500);
    }
}

.trigger:nth-of-type(1) {
    margin-top: 1rem;
}

.trigger:nth-of-type(6) {
    cursor: pointer;
}

.helper {
    margin: 5px 0 0 5px;
    font-size: 12px;
    color: var(--ig-gray-500);
    width: max-content;
}

/* 1st tooltip */
.list::part(base) {
    padding: unset;
    border-radius: 4px;
}

.list {

    igc-list {
        width: 300px;
        padding: 16px;
        gap: 16px;
        letter-spacing: 0.15px;

        p {
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            line-height: 24px;
        }

        igc-list-item {
            padding: 8px 8px 8px 4.5px;
            --item-text-color: var(--ig-gray-900);
            cursor: pointer;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            letter-spacing: 0.15px;
        }

        igc-list-header {
            margin-left: 0.5rem;
        }

        igc-icon {
            --size: 15px;
            --ig-icon-color: var(--ig-gray-700);
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }
}
/* ------------- */

/* 2nd tooltip */
.chart::part(base) {
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.chart {

    .title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }

    .ig-category-chart {
        width: 317px;
        height: 178px;
        border: 1px solid #E0E0E0;
        border-radius: 6px;
    }

    .content {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: var(--ig-gray-700);
        width: 317px;
    }

    p {
        margin: unset;
    }
}
/* ------------- */

/* 3rd tooltip */
.employee::part(base) {
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
}


.employee {

    igc-avatar {
        --size: 88px
    }

    .textWrapper {
        width: 159px;

        p {
            margin: unset;
        }

        .title {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15px;
        }

        p:not(.title) {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0.25px;
            color: var(--ig-gray-700);
        }
    }
}

.avatarWrapper {
    line-height: 0;
    position: relative;

    igc-badge {
        --background-color: var(--ig-error-500);
        box-shadow: var(--ig-elevation-1);
        position: absolute;
        bottom: -3px;
        right: -3px;

        igc-icon {
            width: 10px;
            height: 10px;
        }
    }
}
/* ------------- */

/* 4th tooltip */
.multiline::part(base) {
    border-radius: 2px;
    gap: 8px;
    background-color: var(--ig-error-50);
    padding: 3px 8px;
}

.multiline::part(right){
    display: block;
    border-right-color: var(--ig-error-50);
}


.multiline {

    igc-icon {
        color: var(--ig-error-500);
        --size: 15px;
        width: 18px;
        height: 18px;
    }

    p {
        font-size: 10px;
        width: 116px;
        line-height: 16px;
        letter-spacing: 0.33px;
        margin: unset;
    }
}
/* ------------- */

/* 5th tooltip */
.btcBtn::part(base) {
    border-radius: 4px;
    padding: 16px 16px 8px 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.btcBtn {

    igc-card {
        background-color: var(--ig-gray-50);
        padding: 8px;
        border-radius: 2px;
        letter-spacing: 0.15px;
        width: 268px;
        border: none;

        .titleWrapper {
            display: flex;
            width: 68px;
            justify-content: space-between;

            p {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                margin: unset;
            }

            igc-icon {
                --size: 20px;
                width: 24px;
            }
        }

        .detail {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: unset;
        }

        .subtitle {
            font-size: 16px;
            line-height: 24px;
            margin-top: unset;
            color: var(--ig-gray-900);
        }

        .exchangeWrapper {
            .detail {
                color: var(--ig-secondary-300);
                margin: 16px 0 2px 0;
            }
        }

        .assetsWrapper {
            .detail {
                color: var(--ig-primary-300);
                margin: 0 0 2px 0;
            }

            .subtitle {
                margin-bottom: unset;
            }
        }
    }

    .footerWrapper {
        width: 100%;
        gap: 5px;
        display: flex;
        justify-content: flex-end;

        igc-button {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.75px;
        }
    }
}
/* ------------- */

/* 6th tooltip */
.btc::part(base) {
    border-radius: 4px;
    padding: 16px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    width: 260px;
    --ig-icon-color: var(--ig-gray-700);
}

.btc {

    igc-card {
        padding: 8px;
        letter-spacing: 0.15px;
        border: none;

        .titleWrapper {
            display: flex;
            width: 68px;
            justify-content: space-between;

            p {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                margin: unset;
            }

            igc-icon {
                --size: 20px;
                width: 24px;
            }
        }

        .detail {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: unset;
        }

        .subtitle {
            font-size: 16px;
            line-height: 24px;
            margin-top: unset;
            color: var(--ig-gray-900);
        }

        .exchangeWrapper {
            .detail {
                color: var(--ig-secondary-300);
                margin: 8px 0 2px 0;
            }

            .subtitle {
                margin-bottom: 8px;
            }
        }

        .assetsWrapper {
            .detail {
                color: var(--ig-primary-300);
                margin: 0 0 2px 0;
            }

            .subtitle {
                margin-bottom: unset;
            }
        }
    }
}
/* ------------- */
 