/*
    https://material-ui.com/components/buttons/#contained-buttons
    https://material.io/resources/icons/?style=baseline
*/

.appRoot {
    background: white;
    height: 100%;
    width: 100%;
}

.appContent {
    /* background: rgb(211, 211, 211); */
    /* background: rgb(168, 252, 99); */
    /* transition: margin-left .5s; */
    /* padding: 10px; */
    /* height: calc(100% - 20px); */
    height: 100%;
    overflow: hidden;
}

.appSample {
    /* background: rgb(168, 252, 99); */
    height: 100%;
    height: calc(100% - 55px);
    margin: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.appTest {
    /* background: rgb(255, 195, 30); */
    font-size: 100pt;
    padding: 0.25rem;
    flex: 1;
}

.appSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background: #111; */
    background: white;
    overflow: hidden;
    /* transition: 0.5s; */
    /* padding-top: 60px; */
    /* background: rgb(248, 246, 106); */
}

.appSidebarNav {
    height: 100%;
    height: calc(100% - 40px);
    /* padding: 0.5rem; */
    /* ensures that the container will take up the full height of the parent container */
    /* flex-grow: 1;  */
    overflow-y: scroll;  /* adds scroll to this container */
    overflow-x: hidden;
    background: #ffffff;
    /* background: #f0efef; */
}

.appSidebarNav a {
    color: inherit;
    padding-left: 0.5rem;
    padding-right: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-decoration: none;
    display: block;
    font-size: small;
    font-family: 'Kanit', sans-serif;
}

.appSidebarNav a:hover {
    background: dodgerblue;
    color: #ffffff !important;
    transition: "all 0.0s";
    /* transition: "all 0.6s"; */
}

/* .appSidebarNavControl { */
.appSidebarNav label {
    /* transition: 0.5s; */
    display: inline-block;
    font-size: small;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
         -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.appSidebarNavCount {
    display: inline-block;
    text-align: end;
}

.appSidebarNavBullet {
    display: inline-block;
    height: 25px;
    color: inherit;
    padding: 0rem;
    margin-left: 0px,
}

.appSidebarNav img {
    display: inline-block;
    vertical-align: middle;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    background: dodgerblue;
    border-radius: 50%;
}

.appSidebarNav img:hover {
    background: #ffffff;
    transition: "all 0.0s";
    /* transition: "all 0.6s"; */
}

.appSidebarNavSample {
    padding-left: .4rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    /* text-decoration-line: underline; */
    cursor: pointer;
}

.appSidebarNav section {
    text-transform: uppercase;
    color: #414141 !important;
    padding-left: 1rem;
    display: block;
    overflow-wrap: normal;
    white-space: nowrap;
    transition: 0.5s;
    cursor: pointer;
}

.appSidebarNav section:hover {
    background: #d8d6d6;
    /* color: #363636 !important; */
    /* transition: "all 0.2s"; */
}

.appToolbar {
    background: dodgerblue;
    width: 100%;
    padding: 0.25rem;
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.appToolbar label {
    display: inline-block;
    color: white;
    padding: 0.15rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    font-size: large;
    font-family: 'Kanit', sans-serif;
    /* display: inline; */
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
           -o-user-select: none;
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.appToolbarTitle {
    /* word-wrap: normal; */
    /* overflow-wrap: normal; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* @media screen and (max-height: 450px) {
    .appNavigation {padding-top: 15px;}
    .appNavigation a {font-size: 18px;}
} */


.appToolbaSearchBox {
    border-radius: 4px;
    padding: 0px 8px;
    margin-left: 0.25rem;
    display: inline-block;
    background: #2b95ff;
    background: #5dafff;
}

.appToolbaSearchBox :focus {
    /* background: rgba(88, 88, 88, 0.95); */
    background: #5dafff;
}

.appToolbarSearchInput[type=text] {
    /* width: 140px; */
    /* padding: 12px 20px; */
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* box-sizing: border-box; */
    /* border: 3px solid #ccc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    border-style: none;
    color: #ffffff;
    background: transparent;
  }
