/* these styles are shared between all DoughnutChart samples */

.sample {
    background: "white";
    width: 100%;
    height: 100%;
}

.sampleRow {
    background: "white";
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.legend {
    /* width: 20%; */
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.chart {
    /* width: 80%; */
    /* height: 80%; */
    margin: 10px;
    vertical-align: middle;
    display: inline-block;
    flex-grow: 1;
}