.sbRoot {
    background: rgb(134, 134, 134);
    /* background: blue; */
    /* background-color: blue; */
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-items: center; */
    /* align-items: center; */
    /* position: relative; */
    overflow-y: hidden;

    /* min-width: 300px; */
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.sbToolbar {
    width: calc(100% - 2rem);
    height: auto;
    padding: 1rem;

    background: rgb(72, 160, 248);
}

.sbContent {
    width: 100%;
    height: 100%;

    background: rgb(248, 137, 72);
    display: flex;
    flex-flow: column;
}

.sbSwitch {
    width: 100%;
    height: 100%;

    background: rgb(150, 253, 132);
    display: flex;
    flex-flow: column;
}

.sbNavigation {
    min-width: 200px;
    max-width: 200px;
    /* min-width: 20rem; */
    /* max-width: 20rem; */
    height: 100%;
    padding: 0.5rem;

    background: rgb(149, 149, 149);
    color: white;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
}