/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.horizontal {
    gap: 10px;
    flex-basis: fit-content;
    flex-wrap: wrap;
  }

.sampleContainer {
    padding: 0.5rem
}