.selection-samples {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-left: 32px;
}

.selection-sample {
    display: flex;
    align-items: center;
    gap: 30px;
}

.selection-sample > span {
    width: 120px;
    text-align: right;
    color: var(--ig-gray-700);
    font-size: 12px;
    font-weight: 600;
}

.selection-sample igc-button-group {
    width: 200px;
}

igc-ripple {
    --color: gray;
}