<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SampleName | Infragistics</title>
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <!-- <link rel="manifest" href="manifest.json"> -->
    <!-- <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon"> -->

    <!--
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'> -->
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>