/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.contextmenu {
    position: absolute;
    width: 180px;
    background: white;
    display: flex;
    cursor: context-menu;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    z-index: 9999;
    font-size: 0.75rem;
    font-weight: 650;
}

.item {
    padding: 10px;
    display: flex;
}

.item:hover {
    background:rgb(204, 203, 203);
}

.icon {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.selected-data-area{
    overflow-y: auto;
    width: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin-left: 10px;
}

.wrapper{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}